/* App.css */
body {
  background-color: #333;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #333;
  min-height: 100vh;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  margin:1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90%; /* Make input width responsive */
}
.country {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  flex-wrap: wrap;
  gap:20px;
}
.card {
  background-color: #ff4d6d;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 350px; /* Set a max width for large screens */
  position: relative;
  perspective: 800px; 
}

h1,h2{
  color: #fff;
  font-size: 1.8rem;
}

p {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #fff;
}

strong {
  font-weight: bold;
}


.card img {
  margin-top: 15px;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid #f30e69;
  transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease,border-radius 0.5s ease;
  transform-style: preserve-3d; /* Necesario para aplicar transformaciones en 3D */
}

.card:hover  img{
  transform: translateY(-1px) scale(1.02) translateZ(100px); /* Sale hacia fuera en el eje Z */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #a60169;
  border-radius: 50%;
}

ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

li span {
  font-size: 1rem;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-weight: 800;
}
.suggestions-text {
  font-size: 1.2rem; /* text-3xl */
  font-weight: 600; /* font-semibold */
  color: #2d3748; /* text-gray-800 */
  letter-spacing: 0.05em; /* tracking-wide */
  font-style: italic;
  transition: all 0.5s ease;
}
.suggestions-img{
  transition: all 0.5s ease;
}
li:hover .suggestions-text {
  transform: scale(1.01); /* hover:scale-105 */
}
li:hover .suggestions-img {
  transform: scale(1.2);
  border-radius: 50%;
}

/* Button Styling */
button {
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50; /* bright green */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049; /* darker green on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

button:active {
  background-color: #3e8e41; /* even darker green when pressed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

